In [192]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sympy

In [193]:
df=pd.read_csv("C:\\Users\hp\\Downloads\\titanic_train.csv")
print(df.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [119]:
df.count()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [120]:
df=df.drop(['Age','Embarked','Name','Cabin','PassengerId','Ticket'],axis=1)
df.count()

Survived    891
Pclass      891
Sex         891
SibSp       891
Parch       891
Fare        891
dtype: int64

In [121]:
print(df.describe())
df=df.drop(['Fare'],axis=1)
df.info()

         Survived      Pclass       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.523008    0.381594   32.204208
std      0.486592    0.836071    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000    8.000000    6.000000  512.329200
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    object
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
dtypes: int64(4), object(1)
memory usage: 34.9+ KB

In [122]:
df['Sex'] = df['Sex'].map({'male': 0,'female': 1})
print(df.describe())
df.info()

         Survived      Pclass         Sex       SibSp       Parch
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.352413    0.523008    0.381594
std      0.486592    0.836071    0.477990    1.102743    0.806057
min      0.000000    1.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000    0.000000    0.000000
50%      0.000000    3.000000    0.000000    0.000000    0.000000
75%      1.000000    3.000000    1.000000    1.000000    0.000000
max      1.000000    3.000000    1.000000    8.000000    6.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
dtypes: int64(5)
memory usage: 34.9 KB

In [123]:
import tensorflow as tf
from tensorflow import keras
import keras 
from keras.layers import Dense, Input
import sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [124]:
y=df['Survived']
print(y.head())
X=df.drop(['Survived'],axis=1)
print(X.head())

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64
   Pclass  Sex  SibSp  Parch
0       3    0      1      0
1       1    1      1      0
2       3    1      0      0
3       1    1      1      0
4       3    0      0      0

In [134]:
x_train,x_,y_train,y_=train_test_split(X, y, test_size=0.4, random_state=42)
clf = LogisticRegression(random_state=0).fit(x_train, y_train)
x_dev,x_test,y_dev,y_test=train_test_split(x_, y_, test_size=0.2, random_state=42)
del x_,y_
clf.predict(x_train)
clf.score(x_train,y_train)

0.8089887640449438

In [135]:
clf.predict(x_dev)
clf.score(x_dev,y_dev)

0.7719298245614035

In [140]:
clf.predict(x_test)
clf.score(x_test,y_test)

0.8611111111111112

In [185]:
df2=pd.read_csv("C:\\Users\hp\\Downloads\\test_titanic.csv")
print(df2.describe())

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [186]:
df2=df2.drop(['Age','Embarked','Name','Cabin','PassengerId','Ticket','Fare'],axis=1)
y_pred=pd.read_csv("C:\\Users\hp\\Downloads\\gender_submission.csv")
df2.count()

Pclass    418
Sex       418
SibSp     418
Parch     418
dtype: int64

In [187]:
df2['Sex'] = df2['Sex'].map({'male': 0,'female': 1})
print(df2.describe())
df2.info()
y_pred.count()

           Pclass         Sex       SibSp       Parch
count  418.000000  418.000000  418.000000  418.000000
mean     2.265550    0.363636    0.447368    0.392344
std      0.841838    0.481622    0.896760    0.981429
min      1.000000    0.000000    0.000000    0.000000
25%      1.000000    0.000000    0.000000    0.000000
50%      3.000000    0.000000    0.000000    0.000000
75%      3.000000    1.000000    1.000000    0.000000
max      3.000000    1.000000    8.000000    9.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   SibSp   418 non-null    int64
 3   Parch   418 non-null    int64
dtypes: int64(4)
memory usage: 13.2 KB

PassengerId    418
Survived       418
dtype: int64

In [188]:
clf.predict(df2)

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [189]:
y_pred.count()
y_pred=y_pred['Survived']

PassengerId    418
Survived       418
dtype: int64

In [191]:
clf.score(df2,y_pred)

0.9904306220095693